
<ng-template [ngIf]="selected" [ngIfElse]="noElements">

	<!--
	<button (click)="onAdd()" class="my-4 btn btn-success">Añadir nuevo</button>
	-->

	<ng-template [ngIf]="_loggedUser">
	
		<div class="dropdown text-right">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				...
			</button>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<!--
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<button (click)="onAdd()" class="dropdown-item btn btn-success">Añadir nuevo</button>
				-->
				<button (click)="onEdit()" class="dropdown-item btn btn-warning">Editar</button>
				<button (click)="onDelete()" class="dropdown-item btn btn-danger">Eliminar</button>
			</div>
		</div>

	</ng-template>
	<div class="py-4">
		
		<!--
		<ng-template [ngIf]="selected.image">
			<img src="{{selected.image}}" alt="">
		</ng-template>
		-->

		<h2 class="mt-3"> {{selected.title}} </h2>

		<ng-template [ngIf]="selected.description">
			<hr>
			<p style="width: 100%;" class="text-justify">
				{{selected.description}}
			</p>
		</ng-template>


		<hr>
		<div class="row">
			<div class="col-4">
				<p>Cantidad: </p>
				<p><strong>{{selected.amount}}</strong></p>
			</div>
			<div class="col-4">
				<p>Ubicacion: </p>
				<p> <strong>{{selected.location}} </strong></p>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
</ng-template>

<ng-template #noElements>
	<app-no-item-selected></app-no-item-selected>
</ng-template>
