<app-header (addItem)="onAdd()" ></app-header>

<div class="container">
	<div class="row">
		<div class="col-4">
			<app-sidebar (parent)="onSelect($event)"></app-sidebar>
		</div>
		<div class="col-8">
			<!--
			<ng-template [ngIf]="overview" [ngIfElse]="appOverview">
				<app-overview [selected]="item" (editItem)="onEdit($event)" (addItem)="onAdd()"></app-overview>
			</ng-template>

	   		<ng-template #appOverview>
				<app-add-form  (exitForm)="onExit()"></app-add-form>
			</ng-template>
			-->


			<ng-template [ngIf]="overview == 1">

				<app-overview [selected]="item" 
		     			[loggedUser]="loggedUser"
					(editItem)="onEdit($event)" 
					(addItem)="onAdd()"
					(deleteItem)="onDelete($event)"></app-overview>

			</ng-template>

	   		<ng-template [ngIf]="overview == 2">
				<app-add-form (exitForm)="onExit()"></app-add-form>
			</ng-template>

	   		<ng-template [ngIf]="overview == 3">
				<app-edit-form [editing]="editing" (exitForm)="onExit()"></app-edit-form>
			</ng-template>

		</div>			
	</div>
</div>
